<table class="table">
    <tbody>
        <tr>
            <td><b>Address:</b></td>
            <td>@AccessControl.ContractAddress</td>
        </tr>
        <tr>
            <td><b>Owner:</b></td>
            <td>@AccessControl.Owner</td>
        </tr>
        <tr>
            <td><b>Initialized:</b></td>
            <td>@AccessControl.Initialized</td>
        </tr>
        <tr>
            <td><b>Signer:</b></td>
            <td>@AccessControl.Signer</td>
        </tr>
        <tr>
            <td><b>Signed:</b></td>
            <td>@AccessControl.Signed (@AccessControl.AmountPaid.ToEth() ETH paid out of @AccessControl.Price.ToEth())</td>
        </tr>
        <tr>
            <td><b>User's PubKey:</b></td>
            <td>@AccessControl.UserPubKey</td>
        </tr>
    </tbody>
</table>